body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFF; 
  background: #2b2a29;
}
a {
  color: #FFF;
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: #FFCC01;
  text-decoration: none;
}
h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 50px;
}



.header {
  width: 100%;
  height: 640px;
  background: url(../img/bg-header.jpg) no-repeat center top;
}
.header .wrap {
  height: 640px;
  background: url(../img/bg-header-emblem.png) no-repeat right bottom; 
}
.header ul.menu {
  height: 60px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header ul.menu li {
  height: 60px;
  float: left;
  margin: 0 40px 0 0;
} 
.header ul.menu li a {
  display: block;
  padding: 35px 0 0;
  font-size: 15px;
  font-weight: 500;
  color: #FFF;
  border-top: 4px solid transparent;
}
.header ul.menu li a:hover {
  color: #f2b23a;
  border-top: 4px solid #f2b23a;
}
.header a.lang {
  float: right;
  display: block;
  width: 33px;
  height: 20px;
  margin: 45px 0 0 0;
}
.header a.lang img {
  vertical-align: baseline;
}
.header a.logotype {
  display: block;
  width: 292px;
  height: 92px;
  margin: 155px 0 0 0;
}
.header.inner a.logotype {
  margin: 75px 0 65px 0; 
}
.header.inner a.logotype,
.header.inner a.logotype img {
  width: 156px;
  height: 49px;
}
.header.inner img.prev {
  width: 100%;
  margin: 80px 0 0;
  border-radius: 10px;
}
.header.inner h3 {
  margin: 0 0 20px;
  font-size: 32px;
  font-weight: 500;
}
.header.inner p {
  max-width: 590px;
  font-size: 16px;
  line-height: 33px;
  opacity: 0.4;
}



.about {
  width: 100%;
  padding: 55px 0;
  background: #e0582d url(../img/bg-about.jpg) no-repeat center top;
  color: #1d1d1c;
}
.about .case {
  width: 100%;
  padding: 0 60px 70px;
  background: #FFF url(../img/bg-about-emblem.png) no-repeat right bottom;
}
.about .case img.logotype {
  margin: 70px 0 0;
}
.about h2 {
  margin: 40px 0 15px;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
}
.about p {
  padding: 0 0 25px;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  border-bottom: 7px solid #f2b23a;
}
.about.inner .circle {
  width: 130px;
  height: 130px;
  margin: 40px auto 0 20px;
  padding: 40px 0 0;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #FFF;
  border-radius: 100%;
  background: #1d96a2;
}
.about.inner .circle strong {
  font-size: 60px;
  font-weight: 600;
}
.about.inner .circle span {
  display: block;
  margin: -10px 0 0;
}
.about.inner .circle.second {
  background: #ea5843;
}
.about.inner .circle.third {
  background: #f2b23a;
}



.whyoctopus {
  width: 100%;
  padding: 90px 0 0;
  background: #FFF;
  color: #1d1d1c;
}
.whyoctopus h2 {
  width: 100%;
  margin: 0 0 70px;
  text-align: center;
  font-size: 38px;
  font-weight: 800;
}
.whyoctopus .col-md-4 {
  margin: 0 0 95px;
  text-align: center;
}
.whyoctopus span {
  display: block;
  width: 100%;
  margin: 25px 0 0;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
}


.services {
  margin: -10px 0 0 0;
}
.services .title {
  width: 100%;
  height: 660px;
  background: #ffd101 url(../img/bg-services-01.jpg) no-repeat center bottom;
}
.services h3 {
  padding: 390px 0 0;
  font-size: 107px;
  font-weight: 800;
  line-height: 101px;
  text-transform: uppercase;
  color: #FFF;
}
.services .item {
  height: 670px;
  color: #e4e4e3;
}
.services .item h3 {
  position: absolute;
  z-index: 20;
}
.services .item p {
  padding: 80px 0 40px 80px;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
}
.services .item ul {
  padding: 0 0 0 130px;
  font-size: 20px;
  line-height: 26px;
}
.services .item ul li {
  line-height: 30px;
}
.services .item .image {
  width: 100%;
  height: 670px;
}
.services .item01 {
  background: url(../img/bg-services-02.jpg) repeat-y center top;
}
.services .item01 .image {
  background: url(../img/bg-services-02-02.jpg) no-repeat center bottom;
}
.services .item02 {
  background: url(../img/bg-services-03.jpg) repeat-y center top;
}
.services .item02 .image {
  background: url(../img/bg-services-03-03.jpg) no-repeat center bottom;
}
.services .item03 {
  background: url(../img/bg-services-04.jpg) repeat-y center top;
}
.services .item03 .image {
  background: url(../img/bg-services-04-04.jpg) no-repeat center bottom;
}
.services .item04 {
  background: url(../img/bg-services-05.jpg) repeat-y center top;
}
.services .item04 .image {
  background: url(../img/bg-services-05-05.jpg) no-repeat center bottom;
}
.services .item02 h3,
.services .item04 h3 {
  width: 1140px;
  text-align: right;
}
.services .item02 p,
.services .item04 p {
  padding: 80px 80px 40px 0;
  margin: 0;
}
.services .item02 ul,
.services .item04 ul {
  padding: 0 0 0 50px;
}



.cases {
  background: url(../img/bg-cases-02.jpg) repeat-y center top;
}
.cases .container-fluid {
  padding: 660px 0 0 0;
  background: url(../img/bg-cases-01.jpg) no-repeat center top;
}
.cases h3 {
  width: 100%;
  margin: 75px 0 0;
  padding: 0 0 0 20px;
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.cases #carouselCases {
  width: 100%;
  padding: 60px 0 70px;
}
.cases #carouselCases a.carousel-control-prev,
.cases #carouselCases a.carousel-control-next {
  position: absolute;
  z-index: 30;
  display: block;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 315px 0 0 -25px;
  border-radius: 100px;
  background: #FFF url(../img/icon-arrow-prev.png) no-repeat center;
  opacity: 1;
}
.cases #carouselCases a.carousel-control-next {
  margin: 315px -25px 0 0;
  left: auto;
  right: 0;
  background: #FFF url(../img/icon-arrow-next.png) no-repeat center; 
}
.cases #carouselCases .item {
  min-height: 590px;
  color: #2b2d5c;
  background: #FFF;
}
.cases #carouselCases .item a.image {
  display: block;
  height: 280px;
  overflow: hidden;
}
.cases #carouselCases .item a.title {
  display: inline-block;
  margin: 30px 0 0 20px;
  font-size: 28px;
  font-weight: 900;
  color: #1d1d1c;
}
.cases #carouselCases .item span.date {
  display: block;
  margin: 0 0 0 20px;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
}
.cases #carouselCases .item p {
  padding: 10px 30px 0 20px;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
}
.cases #carouselCases .item a.more {
  display: inline-block;
  margin: 10px 0 0 20px;
  font-size: 15px;
  font-weight: 500;
  color: #1d1d1c;
}
.cases #carouselCases .item .stats {
  padding: 20px 20px 0;
}
.cases #carouselCases .item .stats img {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
}
.cases #carouselCases .item .stats span {
  font-size: 14px;
  font-weight: 500;
}
.cases #carouselCases .item .stats .first {
  float: left;
  color: #eaa127;
}
.cases #carouselCases .item .stats .second {
  float: left;
  margin: 0 20px;
  color: #f15e46;
}
.cases #carouselCases .item .stats .third {
  float: left;
  color: #248393;
}



.contacts {
  padding: 80px 0;
  color: #1d1d1c;
  background: #FFF;
}
.contacts h3 {
  width: 100%;
  margin: 0 0 70px;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.contacts .phones {
  width: 390px;
  margin: 0 auto 80px;
  background: url(../img/icon-phone.png) no-repeat center left;
}
.contacts .phones span {
  display: block;
  padding: 5px 0 5px 95px;
  font-size: 33px;
  font-weight: 500;
}
.contacts img {
  display: block;
  margin: 0 auto 10px;
}
.contacts a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #1d1d1c;
}



.footer {
  width: 100%;
  height: 570px;
  background: #2b2a29 url(../img/logotype.png) no-repeat center;
}



.buttons {
  width: 100%;
  padding: 40px 0;
  background: #ffd101;
}
.buttons .col-md-12 {
  text-align: center;
}
.buttons .btn {
  display: inline-block;
  width: 325px;
  height: 75px;
  margin: 0 10px;
  padding: 20px 0 0 70px;
  bortder-radius: 10px;
  background: #ea5843 url(../img/icon-10.png) no-repeat;
  background-position: 22px center;
  color: #FFF;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
}
.buttons .btn.second {
  background: #1d96a2 url(../img/icon-11.png) no-repeat;
  background-position: 22px center;
}